---
// index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import Sidebar from '../components/Sidebar.astro';
import { Picture } from 'astro:assets';
import myImage from '../assets/headshot.jpg'; // Image is 1600x900

const activeLink = 'home';
---

<BaseLayout activeLink={activeLink}>
  <h2>About Me</h2>
  <div class="about-content">
	<Picture src={myImage} formats={['jpg']} alt="Image of Me." class="headshot" />

    <p class="about-text">
      Hello, welcome to my portfolio! I'm a Computer Engineering major at UC San Diego.
      <em> It's just a part of who I am.</em> I always want to do more, be more.
    </p>
    <Sidebar />
  </div>

  <section class="about-section">
    <h3>A quote that I abide by</h3>
    <blockquote>
      “You don't learn to walk by following rules. You learn by doing, and by falling over.”
      <cite>— Richard Branson</cite>
    </blockquote>
    
    <details>
      <summary>Why did I choose Computer Engineering as a major?</summary>
      <p>I am interested in the connection between software and hardware...</p>
    </details>

    <details>
      <summary>What is my current focus?</summary>
      <p><span>Learning about VLSI Integrated Circuits and Systems Design in Industry</span></p>
    </details>
  </section>
</BaseLayout>
