---
// Sidebar.astro
---

<aside class="sidebar">
    <h3>My Interests</h3>
    <ul>
      <li><strong>Embedded Software</strong>: Specifically for wireless systems, focusing on the development of software that interacts with and controls wireless communication devices.</li>
      <li><strong>FPGA Design and Verification</strong>: FPGAs are small, programmable integrated circuits that allow users to configure digital logic.</li>
    </ul>
  </aside>